.blue {
    color: #4285F4;
}

.red {
    color: #DB4437;
}

.orange {
    color: #F4B400;
}

.green {
    color: #0F9D58;
}

.google-logo {
    font-size: 70px;
    font-family: 'Product Sans', Helvetica, sans-serif;
}

.underline:hover {
    text-decoration: underline;
}
